/* ********************************************************** */
/* **************** Reset estilos por defectos ************** */
/* ********************************************************** */


* {
    /* Include padding and border in si ze calculation. */
    box-sizing: border-box;
    /* Position based on immediate parent and al low adjusting top/right/bottom/left */
    position: relative;
    /* Prevent grid and flex items from spilling out of their container. */
    min-width: 0;
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* resetear el tamaño del texto para poder trabajar con Rem y que el valor rem sea igual al resultado en px*/
html {
    font-size: 62.5%;
}

body {
    /* Ensure that the body fil Is the entire viewport. */
    min-height: 100dvh;
}

h1, h2, h3, h4 {
    /* Balance headings across multiple lines into an ven block. */
    text-wrap: balance;
}
p {
    /* Prevent text orphans (single words on last line. */
    text-wrap: pretty;
}


/* ********************************************************** */
/* ********************** CSS de la web ********************* */
/* ********************************************************** */


/* ************************ Variables *********************** */

:root {
    --font-zise-h1: 4rem;
    --font-zise-h2: 3.2rem;
    --font-zise-p: 2.4rem;
    --font-zise-minimo: 1.6rem;
}

/* ********************** CSS de la web ********************* */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background: linear-gradient(180deg, #060710 50%, #0A0D1E 100%);
    color: #fff;
    text-align: center;

    max-width: 1440px;
    margin: 20px auto;
}

/* **************************** Header **************************** */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 100px;
    margin: 0 20px;
}

h1 {
    font-size: var(--font-zise-h1);
    margin: 20px 0;
    /* width: 95%; */
}

/* **************************** Hero **************************** */

/* Textos */

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    margin: 10px 20px 20px;
    position: relative;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-width: 300px;
    padding: 0  20px;
}

.contact h2 {
    font-size: var(--font-zise-h2);
    margin-bottom: 24px;
}

.contact p {
    margin: 8px 0;
    font-size: var(--font-zise-p);
}

.contact button {
    background-color: #0f0;
    border: none;
    padding: 20px 40px;
    color: #060710;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 32px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    filter: drop-shadow(0 0 5px white);
    -webkit-filter: drop-shadow(0 0 50px white);
    animation: breathing 2s infinite ease;
    -webkit-animation: breathing 2s infinite ease;
}

@keyframes breathing {
    0% {
        filter: drop-shadow(0 0 1px white);
        -webkit-filter: drop-shadow(0 0 1px white);
    }

    50% {
        filter: drop-shadow(0 0 10px white);
        -webkit-filter: drop-shadow(0 0 10px white);
    }

    100% { 
        filter: drop-shadow(0 0 1px white);
        -webkit-filter: drop-shadow(0 0 1px white);
    }
}

/* Galería de imágenes */

.images {
    max-width: 500px;
    max-width: 800px;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.img-principal {
    width: 400%; 
    /* 100% * cantidad de imágenes */
    /* 100% * 4 imágenes */

    /* height: 100%; */
    display: flex;
    /* overflow: hidden; */
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.carrucel-slide {
    width: 25%;
    /* 100% / cantidad de imágenes */

    transition: 0.6s ;
    -webkit-transition: 0.6s ;
    -moz-transition: 0.6s ;
    -ms-transition: 0.6s ;
    -o-transition: 0.6s ;
}

.carrucel-slide img {
    width: 100%;
    /* height: 100%; */
    border-radius: 15px;
}

#r1:checked ~ .s1 {
    /* mueve el primer slide a la izquierda */
    margin-left: 0;
}

#r2:checked ~ .s1 {
    /* mueve el primer slide a la izquierda y los demás al estar en flex se mueven con él hacia el lado */
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    /* mueve el primer slide a la izquierda y los demás al estar en flex se mueven con él hacia el lado */
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    /* mueve el primer slide a la izquierda y los demás al estar en flex se mueven con él hacia el lado */
    margin-left: -75%;
}

.navegation-carrucel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.bar{
    /* max-width: 50px;
    min-width: 30px; */
    width: 10%;
    height: 5%;
    /* height: 20px; */
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}


/* *************************** Marcas *************************** */

.brands {
    margin-top: 105px;
    /* padding: 20px; */
}

.brands h2 {
    font-size: var(--font-zise-h2);
    margin-bottom: 24px;
}

.s-slider{
    /* max-width: 1400px; */
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    white-space: nowrap; /* Elimina el espacio entre los slides y los también los saltos de linea*/
}

.s-slider .s-slider-track{
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 10 * 2); /* (200px * numero de slides * 2) el 2 es porque están duplicada la lista de marcas para dar el efecto*/ 
    /*el ancho es el total deslice por su espacio*/
    align-items: center;
}

.s-slider .slide{
    width: 220px;
    padding: 10px;
}

.s-slider .slide img{
    width: 100%;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    
    /*filter: brightness(100%);
    -webkit-filter: brightness(0) invert(1);*/
    
    /*filter: invert(100%);
    -webkit-filter: invert(100%);*/
    
    /*filter: drop-shadow(0 0 0px white);
    -webkit-filter: drop-shadow(0 0 0px white);
    */
}

@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 10));
        /*200px*numerodeslidesreal*/
        -webkit-transform: translateX(calc(-200px * 31));
        -webkit-transform: translateX(calc(-200px * 10));
        -moz-transform: translateX(calc(-200px * 10));
        -ms-transform: translateX(calc(-200px * 10));
        -o-transform: translateX(calc(-200px * 10));
}
}

/* ***************************** Mapa ***************************** */

.localizacion {
    margin-top: 80px;
    /* padding: 20px; */
}

.localizacion h2 {
    font-size: var(--font-zise-h2);
    margin-bottom: 24px;
}

.localizacion p {
    font-size: var(--font-zise-p);
    margin-bottom: 16px;
}

/* **************************** Footer **************************** */

footer {
    margin-top: 60px;
}

footer img {
    width: 50px;
    margin-bottom: 16px;
}

footer p {
    margin: 12px 0;
    font-size: var(--font-zise-p);
}

footer .creado {
    font-size: var(--font-zise-minimo);
}

footer .creado a {
    color: #fff;

}
/* *********************** Whatsapp flotante *********************** */

#btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    width: 60px;
}

#btn-whatsapp img {
    width: 100%;
}


/* ********************************************************** */
/* ********************** Media Queries ********************* */
/* ********************************************************** */


/* Media Queries Tablet entre 501 y 900 px*/

/* @media screen and (min-width: 751px) and (max-width: 1150px){
    body {
        background: red;
    }
    /* Hero
    .images {
        /* max-width: 600px;
    }
} */


/* Media Queries Mobile */

@media screen and (max-width: 950px) {
    body {
        margin: 10px auto;
    }

    /* Header */

    header img {
        width: 90px;
        margin: 0 10px;
    }

    h1 {
        font-size: 3.2rem;
        max-width: 70%;;
    }

    /* Hero */

    .main-content {
        flex-direction: column-reverse;
        /* padding: 0 10px; */
        margin-top: 20px;
    }

    .contact {
        margin-top: 28px;
    }

    .contact h2 {
        margin-bottom: 12px;
    }

    .contact button {
        padding: 20px 40px;
        color: #060710;
        font-size: 24px;
    }

    .bar {
        width: 15%;
        height: 8%;
    }

    /* Marcas */
    .brands h2 {
        padding: 0 10px;
    }
    
    /* Mapa */
    .localizacion h2, .localizacion p {
        padding: 0 10px;
    }

    /* Footer */
    footer p, footer .creado {
        padding: 0 10px;
    }
}